# CQF - Exam 3

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv('data.csv', index_col='date', parse_dates=['date'])
df

                 open       high        low      close
date
2018-05-21  10.296750  10.371707   9.839116   9.882513
2018-05-22   9.807405   9.997150   9.546507   9.767875
2018-05-23   9.578131   9.676956   9.198643   9.198643
2018-05-24   7.925775   8.202485   7.767655   7.937634
2018-05-25   8.162955   8.408042   7.771608   7.826950
...               ...        ...        ...        ...
2023-05-15  26.060000  26.150000  25.400000  25.660000
2023-05-16  26.110000  27.030000  26.080000  26.300000
2023-05-17  26.600000  26.760000  25.510000  25.660000
2023-05-18  25.590000  25.850000  25.350000  25.810000
2023-05-19  26.080000  26.180000  25.640000  25.920000

[1240 rows x 4 columns]

### Feature Specification

In [11]:
df['oc'] = df.open - df.close
df['hl'] = df.high - df.low
df['sign'] = np.log(df.close / df.close.shift(1))
# momentums
for i in range(0,10):
    df[f'm{i+1}'] = df.close - df.close.shift(i+1)
df['mva10'] = df.close.rolling(window=10).mean()

In [40]:
len(df.index)

1240

In [44]:
df.close.ewm(span=len(df.index),adjust=False).mean()

date
2018-05-21     9.882513
2018-05-22     9.882328
2018-05-23     9.881226
2018-05-24     9.878094
2018-05-25     9.874788
                ...
2023-05-15    15.142142
2023-05-16    15.160124
2023-05-17    15.177045
2023-05-18    15.194181
2023-05-19    15.211467
Name: close, Length: 1240, dtype: float64